{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <title>Show profile</title>
</head>

<body>
    <div class="container"
        style="width: 100%;height: 100vh; display: flex; justify-content: center;align-items: center;">
        <div class="card" style="width: 20rem; height: 20rem; background-color: rgb(228, 225, 221);">
            <div style="margin-top: 25px;">
                <img src="{{ data.user_image.url }}" width="85px" alt=""
                    style="display: block;margin-left: auto;margin-right: auto;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{data.user_name | title}}</h5>
                    <p class="card-text">{{data.user_email}}<br>

                    </p>
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ data.user_id }}">
                    <button type="submit" class="btn btn-success" id="request_btn">Send Request</button>
                    <span id="span1" style="display: none;">
                        {{data.id}}
                    </span>
                </div>
            </div>
        </div>

    </div>
</body>
<script>
    $(document).ready(function () {
        var id = $('#span1').html();
        console.log(id);
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
            }
        });

        $('#request_btn').click(function () {

            $.ajax({
                url: '{% url "user:send_friend_request" %}',
                method: 'POST',
                data: { 'user_id': id },
                success: function (response) {
                    if (response.status == true) {
                        alert('Request sent');
                    } else if (response.message == 'Cannot send friend request to self') {
                        alert('Cannot send friend request to self')
                    } else {
                        alert('Request has already been sent to this profile')
                    }
                },
                error: function (xhr, status, error) {
                    alert("Error: " + error);
                }
            });
        });
    });



    const requestBtn = document.getElementById('request_btn');

    requestBtn.addEventListener('click', function () {
        // Disable the button
        requestBtn.disabled = true;

        // Code to send the request goes here
    });


</script>

</html>