{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/terms_of_use.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <title>Terms of Use</title>
</head>

<body style="background-color: rgb(32, 111, 160);">
    <div class="container">
        <h1 class="h1class">
            <b>
                Terms Of Use
            </b>

        </h1>
        <div>
            <p class="pclass">
                Welcome to SocioBay,<br>
                Owned and operated by Sociobay LLC. By accessing or using the Platform, you agree <br>
                to be bound by these terms of use. If you do not agree to these Terms, <br>
                you should not use the Platform.
            </p>
        </div>
        <dl>
            <dt>1.Eligibility</dt>
            <dd>You must be at least [18] years old and have a valid email address to use the Platform.</dd>
            <dt>2.User Conduct</dt>
            <dd>You agree to use the Platform only for lawful purposes and in accordance with these Terms. <br>
                You are prohibited from posting any content that is defamatory, obscene, threatening, or <br>
                infringes on the intellectual property rights of others. You agree not to use the Platform <br>
                to harass or bully others or to engage in any activity that could harm or disrupt the Platform or its
                users.</dd>
            <dt>3.Intellectual Property</dt>
            <dd>All content posted on the Platform is owned by the Company or its users. You may not use, <br>
                reproduce, or distribute any content without the express written permission of the owner. <br>
                By posting content on the Platform, you grant the Company a non-exclusive, transferable, <br>
                sub-licensable, royalty-free, worldwide license to use, modify, and display your content in <br>
                connection with the Platform.</dd>
            <dt>4.Disclaimers and Limitations of Liability</dt>
            <dd>The Platform is provided on an "as is" and "as available" basis, and the Company makes no <br>
                warranties or guarantees of any kind, express or implied, including but not limited to the <br>
                implied warranties of merchantability and fitness for a particular purpose. The Company shall <br>
                not be liable for any damages arising from the use or inability to use the Platform.</dd>
            <dt>5.Termination</dt>
            <dd>The Company may terminate or suspend your account at any time, with or without cause. <br>
                Upon termination, your access to the Platform and any content posted by you will be <br>
                terminated. The Company reserves the right to delete any content posted by you in the event of
                termination.</dd>
            <dt>6.Changes to the Terms of Use
            </dt>
            <dd>The Company reserves the right to modify these Terms at any time, and your continued use <br>
                of the Platform after any such modification constitutes your acceptance of the modified <br>
                Terms. The Company will notify users of any changes to the Terms by posting the revised <br>
                Terms on the Platform or by email.</dd>
            <dt>7.Governing Law
            </dt>
            <dd>These Terms shall be governed by and construed in accordance with the laws of Jurisdiction. <br> 
                Any dispute arising out of or relating to these Terms or the use of the Platform shall be <br> 
                brought exclusively in the courts located in Jurisdiction.</dd>
        </dl><br><br>
    </div>
</body>

</html>