{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <title>User Profile</title>
</head>
<body style="background-color: rgb(182, 137, 224);">
    
    <div class="container text-center" style="display: grid;  justify-content: center;">
        <h1 style="color: white;">USER <B style="color: rgb(197, 210, 230);text-align: center;">PROFILE</B></h1><br><br>
        <div class="row align-items-center">
            <div class="col justify-content-center" >
                <div class="row">
                    <div class="col align-items-center">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Name</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ user_profile.user_name |title}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Age</h5>
                                <h6 class="card-subtitle mb-2 text-muted">25</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Location</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Malappuram</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" style="margin-left: 80px;margin-right: 80px;">
                <div class="row">
                    <div class="col justify-content-center align-items-center">
                        <img src="{% static 'images/user_img_1.png' %}" width="150px" alt="">
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">E-mail</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ user_profile.user_email }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Date of Joining</h5>
                                <h6 class="card-subtitle mb-2 text-muted">25-01-2023</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">About</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Available</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <div class="col-lg-6 hidden-sm text-right" style="margin-left: 175px;">
        <a href="{% url 'user:user_profile' %}" class="btn btn-outline-secondary"><i class="fa fa-user"></i></a>
        <a href="{% url 'user:user_home' %}" class="btn btn-outline-primary"><i class="fa fa-home"></i></i></a>
        <a href="{% url 'user:user_complaints' %}" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
    </div>
</body>

</html>