body {

    background-color: rgb(39, 96, 116);


}

.container {

    height: 600px;
    width: 1000px;

}

.h1class {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(18, 56, 84);
    text-align: center;
}

.pclass{

color: white;

}

dl{

    color: white;

}

dt{

color: rgb(18, 56, 84);

}